---
layout: default
---

<article class="post text" data-url="{{ page.url | prepend: site.baseurl }}" id="main-content" itemscope itemtype="https://schema.org/CreativeWork" role="main">
  <header>
    <h1 class="title">{{ page.title }}</h1>
    <div class="meta">
      <time class="meta-date" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished"></time>
      <ul class="meta-tag-list">
        {% for tag in posts.tags %}
        <li class="meta-tag-item">
          <a href="{{ tag.url }}">{{ tag.name }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </header>

  <div class="post-body">
    {{ content }}
  </div>

  <div class="related-articles">
    <h2>Recent Posts</h2>
    <ul>
      {% for post in site.related_posts limit:3 %}
      <li>
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</article>
